.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

android/.gradle/
android/local.properties

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
